// Contact Form7
.contact {
  background-color: $bg-gray;

  .contact_inner {

    .contact7__privacy {
      text-align: center;
    }

    .btn_contact7 {
      text-align: center;
      margin-top: 30px;

      input {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-decoration: none;
        width: 213px;
        height: 57px;
        font-size: 1.8rem;
        border: solid 2px $btn-border;
        background-color: $bg-white;
        border-radius: 10px;
        color: #000;
        transition: .4s;
      }

      input:hover {
        color: #FFF;
        cursor: pointer;
        background-color: $fc-base;
      }

      @include mq(sp) {
        .btn_contact7 {
          input {
            margin: 20px 0 0 0;
          }
        }
      }
    }

    .body_home {
      .wpcf7 {
        .wpcf7-form {
          .contact7 {
            width: 100%;
            // padding: 30px 30px 0 30px;
            margin: 0 auto;

            @include mq(sp) {
              width: 100%;
            }

            dt {
              text-align: left;
              display: inline-block;
              font-size: 18px;
              vertical-align: top;
              // margin-top: 10px;
              width: 21%;

              @include mq(sp) {
                width: 100%;
                // padding: 30px 30px 0 30px;
                padding-bottom: 10px;
                margin: 0 auto;
              }

              .must {
                background-color: #FF1A00;
                font-size: 1.4rem;
                margin-left: 10px;
                color: $fc-white;
                padding: 0 5px;
                border-radius: 2px;
              }
            }

            dd {
              width: 78%;
              display: inline-block;
              height: 40px;
              margin-bottom: 40px;

              @include mq(sp) {
                width: 100%;
              }
              input {
                width: 100%;
                height: 40px;
                min-height: 30px;
                padding: 5px;
              }

              textarea {
                width: 100%;
                padding: 5px;
              }
            }

            .contact7__area {
              height: 200px;
              vertical-align: top;
            }
          }
        }
      }
    }
  }
}