.pankuzu {
  padding: 30px 0 0 120px;
  list-style: none;

  li {
    display: inline;

    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      color: #afeeee;
    }
  }

  li+li:before {
    content: "ï¼ž";
    margin-right: .3em;
  }
}


@include mq(sp) {
  .pankuzu {
    padding: 20px 0 0 20px;
  }
}