.breadcrumb {
  width: 1200px;
  margin: 20px auto;
  list-style: none;

  li {
    display: inline;
    font-family: $font-notosans;
    font-size: 1.6rem;

    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      color: $bg-base;
    }
  }

  li+li:before {
    content: "ï¼ž";
    margin-right: .3em;
    margin-left: .3em;
  }
}


@include mq(tab) {
  .breadcrumb {
    width: 100%;
    padding: 0 20px;
  }
}