
.button_edge {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  max-width: 213px;
  background: linear-gradient(to left, transparent 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  width: 213px;
  height: 57px;
  font-size: 1.8rem;
  border: solid 2px $btn-border;
  background-color: $bg-white;
  border-radius: 10px;
  color: #000;
  transition: all 1s ease;

  &:hover {
    color: #FFF;
    background-position: left bottom;
    width: 100%;
    transition: all 1s ease;
  }
}