
.button_edge {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  width: 213px;
  height: 57px;
  font-size: 1.8rem;
  border: solid 2px $btn-border;
  background-color: $bg-white;
  border-radius: 10px;
  color: #000;
  transition: .4s;

  &:hover {
    color: #FFF;
    background-color: $fc-base;
  }
}