.card {
  margin-bottom: 25px;

  @include mq(tab) {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    max-width: 500px;
    margin-right: 20px;
  }

  @include mq(sp) {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }

  .card__img {
    img {
      max-width: 350px;
      height: 100%;
      border-radius: 10px;

      @include mq(tab) {
        max-width: 500px;
      }

      @include mq(sp) {
        width: 100%;
      }
    }

    a::before {
      content: "";
      position: absolute;
      background-color: rgba(92, 185, 197, 0.8);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      text-align: center;
      transition: all 0.3s;
    }

    a:hover::before {
      opacity: 1;
    }

    a:hover {
      background-color: #FFF;
    }

  }

  .card__link {
    @include mq(tab) {
      width: 100%;
    }
  }

  .card__head {
    padding-top: 20px;
  }
}