.fade-in {
  opacity: 0;
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}