.fv-sub {
  width: 100%;

  .fv-sub__inner {
    height: 300px;
    background-color: $bg-base;
    padding: 72px 0 0 120px;
    margin-top: 100px;

    @include mq(sp) {
      text-align: center;
      padding: 72px 0 0 0;
      margin-top: 60px;
    }

    .fv-sub__title {
      font-family: $font-damion;
      font-size: 40px;
      padding-left: 30px;
      line-height: 1.5;

    }

    img {
      width: 200px;
    }
  }
}