.area_worksdetail_home {
  .container {
    .work_head_home {
      padding: 50px 0 0 100px;

      .text_home_ttl {
        width: 350px;
      }
    }

    .body_home {
      display: grid;
      grid-template-columns: 65% 1fr;

      .text_content {
        padding-left: 100px;
        h4 {
          font-size: 20px;
          font-weight: normal;
          padding: 20px 0;
        }
      }

      .img {
        padding: 0 20px 0 50px;

        img {
          width: 350px;
          box-shadow: 4px 4px 12px rgb(62 62 62 / 40%);
        }
      }
    }

    .work_img {
      display: flex;
      justify-content: center;
      padding: 100px 0;

      .pc_img {
        img {
          width: 600px;
          box-shadow: 4px 4px 12px rgb(62 62 62 / 40%);
        }
      }

      .phone_img {
        padding-left: 50px;

        img {
          width: 120px;
          box-shadow: 4px 4px 12px rgb(62 62 62 / 40%);
        }
      }
    }

    .pagenation {
      text-align: center;

      a {
        width: 200px;
        height: 50px;
        color: #fff;
        background-color: #afeeee;
        margin: 20px;
        position: relative;

        .prev,
        .next {
          position: absolute;
          top: 50%;
          transform: translateY(-50%) translateX(-50%);
        }
      }

      a:hover {
        background-color: #191970;
      }

    }
  }
}

@include mq(sp) {
  .area_worksdetail_home {
    .container {
      .work_head_home {
        padding: 20px;
      }

      .body_home {
        width: 100%;
        padding: 0;
        display: block;

        .text_content {
          padding: 20px;
        }

        .img {
          padding: 0;

          img {
            width: 300px;
          }
        }
      }

      .work_img {
        display: block;
        text-align: center;

        .pc_img {
          img {
            width: 300px;
          }
        }

        .phone_img {
          padding: 0;
          text-align: center;
          margin-top: 30px;

          img {
            width: 300px;
          }
        }
      }

    }
  }
}