.single {
  .single__inner {
    .work_heading {
      padding-bottom: 50px;

      .work_heading__title {
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
        font-family: $font-notosans;

        @include mq(sp) {
          font-size: 2.5rem;
        }
      }
    }

    table {
      padding-top: 70px;
      padding-bottom: 30px;

      @include mq(sp) {
        padding-top: 30px;
      }
    }

    .pagenation {
      text-align: center;
      display: flex;
      justify-content: space-between;
      width: 520px;
      margin: 0 auto;

      @include mq(sp) {
        max-width: 335px;
      }

      a {
        font-family: $font-notosans;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        max-width: 145px;
        width: 145px;
        height: 57px;
        font-size: 1.8rem;
        border: solid 2px $btn-border;
        background: linear-gradient(to left, transparent 50%, black 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        border-radius: 10px;
        color: #000;
        transition: .4s;

        @include mq(sp) {
          width: 100px;
          font-size: 1.4rem;
          margin: 0 5px;
        }

        &:hover {
          max-width: 145px;
          color: #FFF;
          background-position: left bottom;
          transition: all 1s ease;
        }

        // .prev,
        // .next {
        //   position: absolute;
        //   top: 50%;
        //   transform: translateY(-50%) translateX(-50%);
        // }
      }

    }
  }
}