.about-detail {
  background-color: $bg-gray;
  .about-detail__inner {
    .about-detail__body {
      display: flex;
      justify-content: space-between;

      @include mq(tab) {
        max-width: 500px;
        margin: 0 auto;
      }

      @include mq(sp) {
        width: 100%;
        flex-direction: column-reverse;

      }

      .about-detail__content {
        width: 63%;

        @include mq(sp) {
          width: 100%;
          margin-top: 30px;
        }
      }

      .about-detail__img {
        width: 33%;
        position: relative;

        img {
          border-radius: 10px;
        }

        @include mq(sp) {
          width: 100%;
          padding: 0px;
          margin-top: 20px;

          img {
            width: 100%;
            height: auto;
          }

          &::after {
            top: 20px;
            left: 20px;
          }
        }
      }
    }
  }
}