.area_page_about_home {
  width: 80%;
  margin: 0 auto;

  .container {
    .body_home {
      display: flex;

      .img {
        padding: 40px;
        position: relative;
      }
    }
  }
}

@include mq(sp) {
  .area_page_about_home {
    .container {
      .body_home {
        width: 100%;
        display: block;

        .img {
          width: 100%;
          padding: 0px;
          margin-top: 20px;

          img {
            width: 100%;
            height: 300px;
          }
        }

        .img::after {
          top: 20px;
          left: 20px;
        }

        .text_home {
          .heading-sub {
            width: 100%;
          }
        }
      }
    }
  }
}