.skill {

  .skill__inner {
    .skill__loop {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      text-align: left;

      @include mq(tab) {
        max-width: 500px;
        margin: 0 auto;
      }

      @include mq(sp) {
        flex-direction: column;
        margin: 0 auto;
      }

      .skill__card {
        display: flex;
        margin: 30px 0;
        width: 48%;

        @include mq(sp) {
          width: 100%;
        }
      }

      .skill__img {
        width: 100px;
        margin-right: 20px;
      }

      .skill__title {
        font-size: 24px;

        @include mq(sp) {
          font-size: 20px;
        }
      }

      .skill__text {
        flex: 1;
        @include mq(sp) {
          width: 64%;
        }
      }
    }

  }
}