.inner {

  @include mq(pc) {
    width: 1200px;
    margin: 0 auto;
    padding: 75px 0 100px;
  }


  @include mq(tab) {
    width: 100%;
    padding: 40px 15px;
  }

  @include mq(sp) {
    width: 100%;
    padding: 40px 15px;
  }
}

.inner-sm {
  @include mq(pc) {
    width: 900px;
    margin: 0 auto;
    padding: 75px 0 100px;
  }

  @include mq(tab) {
    width: 100%;
    padding: 40px 15px;
  }

  @include mq(sp) {
    width: 100%;
    padding: 40px 15px;
  }
}