@charset "UTF-8";
/* noto-sans-jp-500 - japanese */
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/NotoSansCJKjp-Medium.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Medium.ttf") format("truetype");
}
/* noto-sans-jp-700 - japanese */
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/NotoSansCJKjp-Bold.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Bold.ttf") format("truetype");
}
body {
  background-color: #ffffff;
  line-height: 1.875;
  height: 100%;
}

html {
  font-size: 10px;
}

video {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  position: relative;
  display: inline-block;
}
a:hover {
  color: #AFDCE1;
  transition: 0.3s;
}

h2 {
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 1.4;
  font-family: "Noto Sans JP";
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.main {
  width: 100%;
}

.container {
  margin: 0 auto;
}

.m-only-pc {
  display: block;
}

.m-only-sp {
  display: none;
}

@media screen and (max-width: 1366px) {
  .m-only-pc {
    display: none;
  }
  .m-only-sp {
    display: block;
  }
}
.m-flex {
  display: flex;
  gap: 1em;
}
@media screen and (max-width: 1366px) {
  .m-flex {
    flex-direction: column;
  }
}

.m-flex-align-items-center {
  align-items: center;
}

.m-flex-center {
  justify-content: center;
}

.header .header__inner {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #ECEAEA;
  padding: 0 55px;
  position: fixed;
  top: 0;
  z-index: 999;
}
@media screen and (max-width: 768px) {
  .header .header__inner {
    padding: 0 20px;
    height: 60px;
  }
}
.header .header__inner .title-header {
  font-size: 40px;
}
@media screen and (max-width: 768px) {
  .header .header__inner .title-header {
    font-size: 24px;
  }
}
.header .header__inner .top-nav {
  display: block;
  margin-left: auto;
}
.header .header__inner .top-nav ul li {
  font-family: "Damion", cursive;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.1;
  float: left;
  padding: 0 40px 0 0;
}
.header .header__inner .top-nav ul li a:hover {
  color: #AFDCE1;
}
.header .header__inner .top-nav ul li a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}
.header .header__inner .top-nav ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #AFDCE1;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.3s;
}
.header .nav_header {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    position: initial;
  }
  .header .header__inner .top-nav {
    display: none;
  }
  .header .nav_toggle {
    display: block;
    align-items: center;
    position: fixed;
    top: 26px;
    right: 4vw;
    z-index: 1000;
  }
  .header .nav_toggle .bar {
    display: block;
    background-color: #000000;
    height: 2px;
    width: 22px;
  }
  .header .nav_toggle .bar_top {
    transform: translateY(-4px);
    transition: transform 0.3s;
  }
  .header .nav_toggle .bar_bottom {
    transform: translateY(4px);
    transition: transform 0.3s;
  }
  .header .nav_toggle .bar.show.bar_top {
    transform: translateY(2px) rotate(30deg);
    transition: transform 0.3s;
  }
  .header .nav_toggle .bar.show.bar_mid {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .header .nav_toggle .bar.show.bar_bottom {
    transform: translateY(-2px) rotate(-30deg);
    transition: transform 0.3s;
  }
  .header .nav_header {
    position: fixed;
    display: block;
    width: 100%;
    height: 0;
    top: 0;
    opacity: 0;
    overflow: hidden;
    text-align: center;
    padding-top: 0;
    background-color: #ECEAEA;
    z-index: 2;
  }
  .header .nav_header .list_nav_header {
    display: block;
  }
  .header .nav_header .list_nav_header .nav-item {
    margin-top: 30px;
    opacity: 0;
    font-family: "Damion", cursive;
  }
  .header .nav_header .list_nav_header .nav-item a {
    font-size: 2rem;
  }
  .header .nav_header.open {
    opacity: 1;
    height: 100%;
    padding-top: 90px;
    overflow: visible;
    transition: transform 0.3s, opacity 0.3s;
    font-size: 2rem;
  }
  .header .nav_header.open .nav-item {
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
  }
}
.fotter {
  color: #000000;
  height: 100px;
  background-color: #AFDCE1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .fotter {
    height: 60px;
  }
}

@media screen and (min-width: 1366px) {
  .inner {
    width: 1200px;
    margin: 0 auto;
    padding: 75px 0 100px;
  }
}
@media screen and (max-width: 1366px) {
  .inner {
    width: 100%;
    padding: 40px 15px;
  }
}
@media screen and (max-width: 768px) {
  .inner {
    width: 100%;
    padding: 40px 15px;
  }
}

@media screen and (min-width: 1366px) {
  .inner-sm {
    width: 900px;
    margin: 0 auto;
    padding: 75px 0 100px;
  }
}
@media screen and (max-width: 1366px) {
  .inner-sm {
    width: 100%;
    padding: 40px 15px;
  }
}
@media screen and (max-width: 768px) {
  .inner-sm {
    width: 100%;
    padding: 40px 15px;
  }
}

.button_edge {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  max-width: 213px;
  background: linear-gradient(to left, transparent 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  width: 213px;
  height: 57px;
  font-size: 1.8rem;
  border: solid 2px #000000;
  background-color: #ffffff;
  border-radius: 10px;
  color: #000;
  transition: all 1s ease;
}
.button_edge:hover {
  color: #FFF;
  background-position: left bottom;
  width: 100%;
  transition: all 1s ease;
}

.fade-in {
  opacity: 0;
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.breadcrumb {
  width: 1200px;
  margin: 20px auto;
  list-style: none;
}
.breadcrumb li {
  display: inline;
  font-family: "Noto Sans JP";
  font-size: 1.6rem;
}
.breadcrumb li a {
  color: inherit;
  text-decoration: none;
}
.breadcrumb li a:hover {
  color: #AFDCE1;
  transition: 0.3s;
}
.breadcrumb li + li:before {
  content: "＞";
  margin-right: 0.3em;
  margin-left: 0.3em;
}

@media screen and (max-width: 1366px) {
  .breadcrumb {
    width: 100%;
    padding: 0 20px;
  }
}
.fv-sub {
  width: 100%;
}
.fv-sub .fv-sub__inner {
  height: 300px;
  background-color: #AFDCE1;
  padding: 72px 0 0 120px;
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .fv-sub .fv-sub__inner {
    text-align: center;
    padding: 72px 0 0 0;
    margin-top: 60px;
  }
}
.fv-sub .fv-sub__inner .fv-sub__title {
  font-family: "Damion", cursive;
  font-size: 40px;
  padding-left: 30px;
  line-height: 1.5;
}
.fv-sub .fv-sub__inner img {
  width: 200px;
}

.heading {
  font-size: 50px;
  font-family: "Damion", cursive;
  font-weight: 400;
  text-align: center;
  padding-bottom: 55px;
}
@media screen and (max-width: 768px) {
  .heading {
    font-size: 40px;
    padding-bottom: 0;
  }
}

.heading__title {
  font-family: "Damion", cursive;
  font-weight: 400;
  line-height: 1.5;
}

.heading-sub {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 20px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .heading-sub {
    font-size: 20px;
  }
}

.heading-sub::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 4px;
  height: 80%;
  background-color: #AFDCE1;
}

.card-work {
  width: calc(33.33333333% - 50px);
  margin: 0 50px 25px 0;
}
.card-work:nth-child(3n) {
  margin-right: 0;
}
@media screen and (max-width: 1366px) {
  .card-work {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    max-width: 500px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .card-work {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
}
.card-work .card__img img {
  max-width: 350px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}
@media screen and (max-width: 1366px) {
  .card-work .card__img img {
    max-width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .card-work .card__img img {
    width: 100%;
  }
}
.card-work .card__img a::before {
  content: "";
  position: absolute;
  background-color: rgba(92, 185, 197, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: center;
  border-radius: 10px;
  transition: all 0.3s;
}
.card-work .card__img a:hover::before {
  opacity: 1;
}
.card-work .card__img a:hover {
  background-color: #FFF;
  border-radius: 10px;
}
@media screen and (max-width: 1366px) {
  .card-work .card__link {
    width: 100%;
  }
}
.card-work .card__head {
  padding-top: 20px;
}

table {
  width: 100%;
}
table tr {
  border-top: 1px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
  line-height: 1.8rem;
  width: 100%;
}
table tr:last-of-type {
  border-bottom: 1px solid black;
}
@media screen and (max-width: 768px) {
  table tr {
    display: flex;
    flex-direction: column;
  }
}
table th {
  width: 25%;
  border-right: 1px solid black;
  padding: 10px;
  vertical-align: middle;
  text-align: left;
  font-weight: normal;
  min-width: 230px;
  font-size: 1.6rem;
  line-height: 1.8;
}
@media screen and (max-width: 768px) {
  table th {
    width: 100%;
    max-width: 100%;
    border-right: 0px;
    padding-top: 0px;
  }
}
table td {
  padding-left: 50px;
  vertical-align: middle;
  width: 75%;
  font-size: 1.6rem;
  line-height: 1.8;
}
@media screen and (max-width: 768px) {
  table td {
    width: 100%;
    padding-left: 0px;
    width: 100%;
  }
}

.pagenation {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.pagenation .prev, .pagenation .next {
  display: none;
}
@media screen and (max-width: 768px) {
  .pagenation {
    margin-top: 40px;
  }
}

.page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AFDCE1;
  font-size: 1.8rem;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  transition: 0.4s;
}
.page-numbers:hover {
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .page-numbers {
    font-size: 1.2rem;
    width: 50px;
    height: 50px;
  }
}
.page-numbers.current {
  background-color: #AFDCE1;
  color: #fff;
}
.page-numbers.current:hover {
  opacity: 1;
}

.fv {
  width: 100%;
}
.fv .fv__inner {
  height: 700px;
  background-color: #AFDCE1;
  text-align: center;
  padding-top: 240px;
}
.fv .fv__inner .fv__title {
  font-size: 40px;
  font-family: "Damion", cursive;
  font-style: oblique;
}
@media screen and (max-width: 768px) {
  .fv .fv__inner .fv__title {
    font-size: 20px;
  }
}
.fv .fv__inner img {
  width: 350px;
}
@media screen and (max-width: 768px) {
  .fv .fv__inner img {
    width: 200px;
  }
}

.about .about__inner .about__body {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .about .about__inner .about__body {
    flex-direction: column;
    margin-top: 18px;
  }
}
.about .about__inner .about__body .about__img {
  width: 430px;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .about .about__inner .about__body .about__img {
    width: 100%;
  }
}
.about .about__inner .about__body .about__content {
  display: flex;
  flex-direction: column;
  width: 410px;
  margin-left: 50px;
}
@media screen and (max-width: 768px) {
  .about .about__inner .about__body .about__content {
    width: 100%;
    margin-left: 0;
    margin-top: 33px;
  }
}
.about .about__inner .about__body .about__content .button {
  margin-top: auto;
}
@media screen and (max-width: 768px) {
  .about .about__inner .about__body .about__content .button {
    margin: 25px auto 0;
  }
}
.about .about__inner .about__body .about__content .button_edge {
  margin-left: 0;
}

.service {
  max-width: 1200px;
  margin: 0 auto;
}
.service .service__inner .service__loop {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1366px) {
  .service .service__inner .service__loop {
    display: block;
    margin: 0 auto;
    max-width: 500px;
  }
}
.service .service__inner .service__loop .service__card {
  max-width: 350px;
}
@media screen and (max-width: 1366px) {
  .service .service__inner .service__loop .service__card {
    width: 100%;
    max-width: 500px;
  }
}
.service .service__inner .service__loop .service__card .service__img {
  max-width: 350px;
}
@media screen and (max-width: 1366px) {
  .service .service__inner .service__loop .service__card .service__img {
    width: 100%;
    max-width: 500px;
  }
}
.service .service__inner .service__loop .service__card .service__head {
  margin-top: 20px;
}
.service .service__inner .service__loop .service__card .service__head .service__text {
  margin-top: 20px;
}
.service .service__inner .button {
  display: block;
  margin: 50px auto 0;
}

.works {
  background-color: #ECEAEA;
  margin: 0 auto;
}
.works .works__inner .heading p {
  font-style: normal;
}
.works .works__inner .works__text {
  text-align: center;
  margin-bottom: 40px;
}
.works .works__inner .works__loop {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1366px) {
  .works .works__inner .works__loop {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .works .works__inner .works__loop {
    display: block;
    max-width: 500px;
    margin: 0 auto;
  }
}
.contact {
  background-color: #ECEAEA;
}
@media screen and (max-width: 768px) {
  .contact .breadcrumb {
    padding-top: 70px;
  }
}
.contact .contact_inner .contact7__privacy {
  text-align: center;
}
.contact .contact_inner .btn_contact7 {
  text-align: center;
  margin-top: 30px;
}
.contact .contact_inner .btn_contact7 input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  width: 213px;
  height: 57px;
  font-size: 1.8rem;
  border: solid 2px #000000;
  background-color: #ffffff;
  border-radius: 10px;
  color: #000;
  transition: 0.4s;
}
.contact .contact_inner .btn_contact7 input:hover {
  color: #FFF;
  cursor: pointer;
  background-color: #000000;
}
@media screen and (max-width: 768px) {
  .contact .contact_inner .btn_contact7 .btn_contact7 input {
    margin: 20px 0 0 0;
  }
}
.contact .contact_inner .body_home .wpcf7 .wpcf7-form .contact7 {
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .contact .contact_inner .body_home .wpcf7 .wpcf7-form .contact7 {
    width: 100%;
  }
}
.contact .contact_inner .body_home .wpcf7 .wpcf7-form .contact7 dt {
  text-align: left;
  display: inline-block;
  font-size: 18px;
  vertical-align: top;
  width: 21%;
}
@media screen and (max-width: 768px) {
  .contact .contact_inner .body_home .wpcf7 .wpcf7-form .contact7 dt {
    width: 100%;
    padding-bottom: 10px;
    margin: 0 auto;
  }
}
.contact .contact_inner .body_home .wpcf7 .wpcf7-form .contact7 dt .must {
  background-color: #FF1A00;
  font-size: 1.4rem;
  margin-left: 10px;
  color: #fff;
  padding: 0 5px;
  border-radius: 2px;
}
.contact .contact_inner .body_home .wpcf7 .wpcf7-form .contact7 dd {
  width: 78%;
  display: inline-block;
  height: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .contact .contact_inner .body_home .wpcf7 .wpcf7-form .contact7 dd {
    width: 100%;
  }
}
.contact .contact_inner .body_home .wpcf7 .wpcf7-form .contact7 dd input {
  width: 100%;
  height: 40px;
  min-height: 30px;
  padding: 5px;
}
.contact .contact_inner .body_home .wpcf7 .wpcf7-form .contact7 dd textarea {
  width: 100%;
  padding: 5px;
}
.contact .contact_inner .body_home .wpcf7 .wpcf7-form .contact7 .contact7__area {
  height: 200px;
  vertical-align: top;
}

.single .single__inner .work_heading {
  padding-bottom: 50px;
}
.single .single__inner .work_heading .work_heading__title {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  font-family: "Noto Sans JP";
}
@media screen and (max-width: 768px) {
  .single .single__inner .work_heading .work_heading__title {
    font-size: 2.5rem;
  }
}
.single .single__inner table {
  padding-top: 70px;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .single .single__inner table {
    padding-top: 30px;
  }
}
.single .single__inner .pagenation {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 520px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .single .single__inner .pagenation {
    max-width: 335px;
  }
}
.single .single__inner .pagenation a {
  font-family: "Noto Sans JP";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  max-width: 145px;
  width: 145px;
  height: 57px;
  font-size: 1.8rem;
  border: solid 2px #000000;
  background: linear-gradient(to left, transparent 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  border-radius: 10px;
  color: #000;
  transition: 0.4s;
}
@media screen and (max-width: 768px) {
  .single .single__inner .pagenation a {
    width: 100px;
    font-size: 1.4rem;
    margin: 0 5px;
  }
}
.single .single__inner .pagenation a:hover {
  max-width: 145px;
  color: #FFF;
  background-position: left bottom;
  transition: all 1s ease;
}

.about-detail {
  background-color: #ECEAEA;
}
.about-detail .about-detail__inner .about-detail__body {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1366px) {
  .about-detail .about-detail__inner .about-detail__body {
    max-width: 500px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .about-detail .about-detail__inner .about-detail__body {
    width: 100%;
    flex-direction: column-reverse;
  }
}
.about-detail .about-detail__inner .about-detail__body .about-detail__content {
  width: 63%;
}
@media screen and (max-width: 768px) {
  .about-detail .about-detail__inner .about-detail__body .about-detail__content {
    width: 100%;
    margin-top: 30px;
  }
}
.about-detail .about-detail__inner .about-detail__body .about-detail__img {
  width: 33%;
  position: relative;
}
.about-detail .about-detail__inner .about-detail__body .about-detail__img img {
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .about-detail .about-detail__inner .about-detail__body .about-detail__img {
    width: 100%;
    padding: 0px;
    margin-top: 20px;
  }
  .about-detail .about-detail__inner .about-detail__body .about-detail__img img {
    width: 100%;
    height: auto;
  }
  .about-detail .about-detail__inner .about-detail__body .about-detail__img::after {
    top: 20px;
    left: 20px;
  }
}

.skill .skill__inner .skill__loop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  text-align: left;
}
@media screen and (max-width: 1366px) {
  .skill .skill__inner .skill__loop {
    max-width: 500px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .skill .skill__inner .skill__loop {
    flex-direction: column;
    margin: 0 auto;
  }
}
.skill .skill__inner .skill__loop .skill__card {
  display: flex;
  margin: 30px 0;
  width: 48%;
}
@media screen and (max-width: 768px) {
  .skill .skill__inner .skill__loop .skill__card {
    width: 100%;
  }
}
.skill .skill__inner .skill__loop .skill__img {
  width: 100px;
  margin-right: 20px;
}
.skill .skill__inner .skill__loop .skill__title {
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .skill .skill__inner .skill__loop .skill__title {
    font-size: 20px;
  }
}
.skill .skill__inner .skill__loop .skill__text {
  flex: 1;
}
@media screen and (max-width: 768px) {
  .skill .skill__inner .skill__loop .skill__text {
    width: 64%;
  }
}

.flow .container .body_home {
  padding: 0 150px 30px 150px;
}

@media screen and (max-width: 768px) {
  .area_flow_home .container {
    padding: 20px;
  }
  .area_flow_home .container .body_home {
    padding: 0;
  }
}
.price {
  background-color: #ECEAEA;
}
.price .price__text {
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.area_page_works_home .container .text_home_loop {
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.area_page_works_home .container .text_home_loop .body_home .img a::before {
  content: "";
  position: absolute;
  background-color: rgba(92, 185, 197, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: center;
  transition: all 0.3s;
}
.area_page_works_home .container .text_home_loop .body_home .img a:hover::before {
  opacity: 1;
}
