body {
  // font-family: $tazugane-helvetica-regular;
  background-color: $bg-white;
  line-height: 1.875;
  height: 100%;
}

html {
  font-size: 10px;
}

video {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  position: relative;
  display: inline-block;

  &:hover{
    color: $bg-base;
    transition: .3s;
  }
}

h2 {
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 1.4;
  font-family: $font-notosans;
}


img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}


// main
.main {
  width: 100%;
}


.container {
  margin: 0 auto;
}