@import 'mixin';
@import 'variables';
@import 'common';
@import 'layouts';
@import 'utility';

//layouts
@import './layouts/_header.scss';
@import './layouts/_footer.scss';
@import './layouts/_inner.scss';

//components
@import './components/_btn.scss';
@import './components/_fadeIn.scss';
@import './components/_breadcrumb.scss';
@import './components/_fv-sub.scss';
@import './components/_heading.scss';
@import './components/_card.scss';
@import './components/_table.scss';
@import './components/_pagination.scss';

//pages
@import './pages/top/_fv.scss';
@import './pages/top/_about.scss';
@import './pages/top/_service.scss';
@import './pages/top/_works.scss';
@import './pages/contact/_contact.scss';
@import './pages/single/single.scss';
@import './pages/about/about.scss';
@import './pages/about/skill.scss';
@import './pages/service/flow.scss';
@import './pages/service/price.scss';
@import './pages/works/works.scss';
