// about
.about {
  .about__inner {
    .about__body {
      display: flex;
      justify-content: space-between;
      max-width: 900px;
      margin: 0 auto;

      // @include mq(tab) {
      //   max-width: 500px;
      // }

      @include mq(sp) {
        flex-direction: column;
        margin-top: 18px;
      }

      .about__img {
        width: 430px;
        text-align: center;
        position: relative;

        @include mq(sp) {
          width: 100%;
        }
      }

      .about__content {
        display: flex;
        flex-direction: column;
        width: 410px;
        margin-left: 50px;

        @include mq(sp) {
          width: 100%;
          margin-left: 0;
          margin-top: 33px;
        }

        .button {
          margin-top: auto;

          @include mq(sp) {
            margin: 25px auto 0;
          }
        }

        .button_edge {
          margin-left: 0;
        }
      }
    }
  }
}