// service
.service {
  max-width: 1200px;
  margin: 0 auto;

  .service__inner {
    .service__loop {
      display: flex;
      justify-content: space-between;

      @include mq(tab) {
        display: block;
        margin: 0 auto;
        max-width: 500px;
      }

      .service__card {
        max-width: 350px;

        @include mq(tab) {
          width: 100%;
          max-width: 500px;
        }

        .service__img {
          max-width: 350px;

          @include mq(tab) {
            width: 100%;
            max-width: 500px;
          }
        }

        .service__head {
          margin-top: 20px;

          .service__text {
            margin-top: 20px;
          }
        }
      }
    }

    .button {
      display: block;
      margin: 50px auto 0;
    }
  }
}