// works
.works {
  background-color: $bg-gray;
  margin: 0 auto;

  .works__inner {
    .heading {
      p {
        font-style: normal;
      }
    }

    .works__text {
      text-align: center;
      margin-bottom: 40px;
    }

    .works__loop {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @include mq(tab) {
        justify-content: center;
      }
    }
  }
}

@include mq(sp) {
  .works {
    .works__inner {
      .works__loop {
        display: block;
        max-width: 500px;
        margin: 0 auto;
      }
    }
  }
}